<header class="header">
  <div class="header__left-elements">
    <div>
      <img
        class="js-hamburger-menu header__left-elements--hamburger"
        src="./assets/images/icon-menu.svg"
        alt="Menu"
      />
      <nav class="js-hamburger-menu-container hide hamburger-menu-container">
        <img
          class="js-close-menu"
          src="./assets/images/icon-close.svg"
          alt="Close"
        />
        <ul class="hamburger-menu">
          <li class="hamburger-menu__item">Collections</li>
          <li class="hamburger-menu__item">Men</li>
          <li class="hamburger-menu__item">Women</li>
          <li class="hamburger-menu__item">About</li>
          <li class="hamburger-menu__item">Contact</li>
        </ul>
      </nav>
    </div>
    <div class="js-opacity"></div>
    <img class="" src="./assets/images/logo.svg" alt="Sneakers Logo" />
    <nav class="menu-desktop-container">
      <ul class="menu-desktop">
        <li class="menu-desktop__item">Collections</li>
        <li class="menu-desktop__item">Men</li>
        <li class="menu-desktop__item">Women</li>
        <li class="menu-desktop__item">About</li>
        <li class="menu-desktop__item">Contact</li>
      </ul>
    </nav>
  </div>
  <div class="header__right-elements">
    <div class="cart_and_quantity">
      <div class="js-cart-quantity"></div>
      <img
        class="header__right-elements--cart js-cart-button"
        src="./assets/images/icon-cart.svg"
        alt="Cart"
      />
    </div>
    <img
      class="header__right-elements--avatar"
      src="./assets/images/image-avatar.png"
      alt="Avatar"
    />
  </div>

  <include src="./cart.html"></include>
</header>
