<header class="header">
  <div class="header__left-elements">
    <img
      class="js-hamburger-menu header__left-elements--hamburger"
      src="./assets/images/icon-menu.svg"
      alt="Menu"
    />
    <div class="js-hamburger-menu-container collapse hamburger-menu-container">
      <nav>
        <img
          class="js-close-menu"
          src="./assets/images/icon-close.svg"
          alt="Close"
        />
        <ul class="hamburger-menu">
          <li class="hamburger-menu__item">Collections</li>
          <li class="hamburger-menu__item">Men</li>
          <li class="hamburger-menu__item">Women</li>
          <li class="hamburger-menu__item">About</li>
          <li class="hamburger-menu__item">Contact</li>
        </ul>
      </nav>
    </div>
    <div class="js-opacity"></div>
    <img class="" src="./assets/images/logo.svg" alt="Sneakers Logo" />
  </div>
  <div class="header__right-elements">
    <div class="js-cart-quantity"></div>
    <img
      class="header__right-elements--cart"
      src="./assets/images/icon-cart.svg"
      alt="Cart"
    />
    <img
      class="header__right-elements--avatar"
      src="./assets/images/image-avatar.png"
      alt="Avatar"
    />
  </div>
</header>
