<header class="header">
  <div class="header__left-elements">
    <img
      class="header__left-elements--hamburger"
      src="./assets/images/icon-menu.svg"
      alt="Menu"
    />
    <div class="hamburger-menu collapse">
      <nav>
        <img src="./assets/images/icon-close.svg" alt="Close" />
        <ul>
          <li>Collections</li>
          <li>Men</li>
          <li>Women</li>
          <li>About</li>
          <li>Contact</li>
        </ul>
      </nav>
    </div>
    <img class="" src="./assets/images/logo.svg" alt="Sneakers Logo" />
  </div>
  <div class="header__right-elements">
    <img
      class="header__right-elements--cart"
      src="./assets/images/icon-cart.svg"
      alt="Cart"
    />
    <img
      class="header__right-elements--avatar"
      src="./assets/images/image-avatar.png"
      alt="Avatar"
    />
  </div>
</header>
