<div class="lightbox">
  <div class="lightbox__gallery">
    <div>
      <img
        class="lightbox__close"
        src="./assets/images/icon-close.svg"
        alt="Close"
      />
    </div>
    <div class="lightbox__controls">
      <div class="js-lightbox-prev-button lightbox__controls--button">
        <img src="./assets/images/icon-previous.svg" alt="Prev" />
      </div>
      <div class="js-lightbox-next-button lightbox__controls--button">
        <img src="./assets/images/icon-next.svg" alt="Next" />
      </div>
    </div>
    <img
      class="js-lightbox__image lightbox__image"
      src="./assets/images/image-product-1.jpg"
      alt="Product 1"
    />
    <div class="lightbox__thumbnails js-lightbox-thumbnails">
      <img
        class="lightbox__thumbnails--element js-lightbox-thumbnails-element"
        src="./assets/images/image-product-1-thumbnail.jpg"
        alt="Product 1"
        id="0"
      />
      <img
        class="lightbox__thumbnails--element js-lightbox-thumbnails-element"
        src="./assets/images/image-product-2-thumbnail.jpg"
        alt="Product 2"
        id="1"
      />
      <img
        class="lightbox__thumbnails--element js-lightbox-thumbnails-element"
        src="./assets/images/image-product-3-thumbnail.jpg"
        alt="Product 3"
        id="2"
      />
      <img
        class="lightbox__thumbnails--element js-lightbox-thumbnails-element"
        src="./assets/images/image-product-4-thumbnail.jpg"
        alt="Product 4"
        id="3"
      />
    </div>
  </div>
</div>
