$white: hsl(0, 0%, 100%);
$black-opacity: hsla(0, 0%, 0%, 0.75);
$orange: hsl(26, 100%, 55%);
.header {
  display: flex;
  justify-content: space-between;
  height: 10vh;
  background-color: $white;
  padding: 1.2rem;

  &__left-elements {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &--hamburger {
      width: 16px;
      height: 16px;
    }
    .hamburger-menu-container {
      position: absolute;
      top: 0;
      left: 0;
      width: 60%;
      height: 100vh;
      background-color: $white;
      z-index: 99;
      padding: 1.25em;
      .hamburger-menu {
        padding: 20% 0;
        list-style: none;
        &__item {
          padding: 7% 0;
          font-weight: 700;
        }
      }
    }
  }
  &__right-elements {
    width: 17%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &--quantity {
      background-color: $orange;
      color: $white;
      padding: 0.25% 1.5%;
      font-size: 0.7em;
      border-radius: 10px;
      position: absolute;
      z-index: 2;
      top: 3vh;
      right: 13vw;
    }
    &--cart {
      width: 20px;
      height: 20px;
    }
    &--avatar {
      width: 22px;
      height: 22px;
    }
  }
}

.collapse {
  display: none;
}

.opacity {
  width: 100vw;
  height: 100vh;
  background-color: $black-opacity;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
}
